/* style.css */

.login-box {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333; /* Changed text color for better visibility */
}

.textbox {
  margin-bottom: 20px;
}

.textbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.btn {
  background-color: #ff80ab; /* Pink */
  color: #fff; /* White */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff4081; /* Darker Pink */
}

/* Added style for better visibility of the login button on hover */
.btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 128, 171, 0.7);
}
